// Colors HEX
$white: #ffffff;
$black: #000000;
$darkBlue: #001629;
$lightRed: #fc3869;
$grey: #99a6b2;
$greyBorder: #cbd6e1;
$lightGreyBorder: #e9efff;
$blueGray: #f4f7ff;

// Fonts
$common-fonts: 'Roboto', sans-serif;
